@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

#container {
    background-color: #131b31;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1,
h2,
h3 {
    font-family: Gugi, cursive;
    margin: 1em 0;
}

#heading {
    display: inline-block;
}

.center-container {
    text-align: center;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

h2 {
    font-size: 2rem;
    border-bottom: 1px solid white;
}

.separator {
    display: block;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    height: .5rem;
    background-color: white;
    border-radius: .25rem;
}

#intro {
    font-style: italic;
    text-align: justify;
    max-width: 40rem;
    margin: 0 auto;
}

#intro em {
    font-style: normal;
}

ol li {
    list-style-type: none;
}

ul li {
    list-style-type: '\1F539';
    margin-left: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
}

.sign {
    border: 1px dashed white;
    border-radius: .5rem;
    padding: .5rem;
}

.sign-icon {
    width: 4rem;
    float: left;
    margin: .5rem;
}

.sign-name {
    font-size: 1.5rem;
    text-transform: uppercase;
}

a {
    color: yellow;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    color: orange;
}

a:visited {
    color: greenyellow;
}
